<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DesktopGoogleReader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DesktopGoogleReader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="email" value=""/>
    <add key="password" value=""/>
    <add key="source" value="scroll"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <userSettings>
    <DesktopGoogleReader.Properties.Settings>
      <setting name="RememberMe" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LoginEmail" serializeAs="String">
        <value/>
      </setting>
      <setting name="WindowXPos" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="WindowYPos" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="WindowHeight" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="WindowWidth" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="MaximumNotificationLength" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="RefreshInterval" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="NotificationsEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LoginPassword" serializeAs="String">
        <value/>
      </setting>
      <setting name="minimizeToTray" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="showFullIfEmpty" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="showFullIfSameAsTitle" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="showSnarlDownloadHint" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="proxyEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="proxyServer" serializeAs="String">
        <value/>
      </setting>
      <setting name="proxyPort" serializeAs="String">
        <value>8080</value>
      </setting>
      <setting name="proxyUser" serializeAs="String">
        <value/>
      </setting>
      <setting name="proxyPassword" serializeAs="String">
        <value/>
      </setting>
      <setting name="useChromium" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="showFullAlways" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="useAutomaticUpdate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="useAutomaticUpdateBeta" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MaxFetchedItemsAtOnce" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="writeLogfiles" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="notificationTitle" serializeAs="String">
        <value>Feed name</value>
      </setting>
      <setting name="notificationText" serializeAs="String">
        <value>Feed item title and content</value>
      </setting>
      <setting name="notificationUseAttachmentIcon" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="notificationUseContentIcon" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="iconMinWidth" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="iconMinHeight" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="iconMaxStretchFaktor" serializeAs="String">
        <value>1.5</value>
      </setting>
      <setting name="RILusername" serializeAs="String">
        <value/>
      </setting>
      <setting name="RILpassword" serializeAs="String">
        <value/>
      </setting>
      <setting name="TwitterAccessToken" serializeAs="String">
        <value/>
      </setting>
      <setting name="TwitterAccessTokenSecret" serializeAs="String">
        <value/>
      </setting>
      <setting name="Instapaper_username" serializeAs="String">
        <value/>
      </setting>
      <setting name="Instapaper_password" serializeAs="String">
        <value/>
      </setting>
      <setting name="mailSubject" serializeAs="String">
        <value/>
      </setting>
      <setting name="mailReceiver" serializeAs="String">
        <value/>
      </setting>
      <setting name="mailCcMe" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="mailBody" serializeAs="String">
        <value/>
      </setting>
      <setting name="deliciousUser" serializeAs="String">
        <value/>
      </setting>
      <setting name="deliciousPassword" serializeAs="String">
        <value/>
      </setting>
      <setting name="posterousUser" serializeAs="String">
        <value/>
      </setting>
      <setting name="posterousPassword" serializeAs="String">
        <value/>
      </setting>
      <setting name="diigoUser" serializeAs="String">
        <value/>
      </setting>
      <setting name="diigoPassword" serializeAs="String">
        <value/>
      </setting>
    </DesktopGoogleReader.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <DesktopGoogleReader.Properties.Settings>
      <setting name="TwitterConsumerKey" serializeAs="String">
        <value>aXrdGmK4LODnaOD4g4ZCw</value>
      </setting>
      <setting name="TwitterConsumerSecret" serializeAs="String">
        <value>wOSuoa2oyHh6hrHqZpjsFZ9nbh0H5eYKfFcDz96TeqM</value>
      </setting>
    </DesktopGoogleReader.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
